html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  font-family: 'Ubuntu', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-thumb {
  background: #009933;
}

::-moz-selection {
  background: #009933;
  color: white;
}

::selection {
  background: #009933;
  color: white;
}

.center {
  text-align: center;
}

#main:before {
  -webkit-filter: blur(5px);
  moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);

}

#main {
  background-color: WhiteSmoke;
  height: 100%;
  min-height: 100vh;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

#header {
  margin-bottom: 0;
}

/* Header Bar */
#header ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background-color: #1A5276;
  text-align: center;
  font-size: 1.1em;
  display: flex;
}

#header li {
  display: inline-block;
  margin: auto;
}

#header li a {
  display: block;
  padding: 20px;
  margin-left: 10px;
  margin-right: 10px;
  width: 60px;
  font-weight: bold;
  color: WhiteSmoke;
  text-decoration: none;
  transform-origin: 50% 50%;
  -webkit-transition: box-shadow .3s, transform .3s ease-in-out;
  -moz-transition: box-shadow .3s, transform .3s ease-in-out;
  -o-transition: box-shadow .3s, transform .3s ease-in-out;
  transition: box-shadow .3s, transform .3s ease-in-out;
}

#content {
  font-size: 16px;
  margin-left: 8%;
  margin-right: 8%;
  padding-bottom: 5%;
  font-family: 'Noto Sans', sans-serif;
}

#content li:before {
  content: "> ";
  font-family: monospace;
}

img {
    width:100%;
    height: auto;
    justify-content: center;
}

ul li {
  list-style-type: none;
}

pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  padding: 2px 5px 2px 5px;
}

p {
  margin-top: 10px;
  margin-bottom: 10px;
}

#content a {
  color: #009933;
  -webkit-transition: color, background-color .1s ease-in;
  -moz-transition: color, background-color .1s ease-in;
  -o-transition: color, background-color .1s ease-in;
  transition: color, background-color .1s ease-in;
}

h1 {
  font-size: 5vw;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 10px;
}

h2 {
  font-size: 2.3vw;
}

h3, h4, h5, h6 {
  margin-top: 25px;
  margin-bottom: 10px;
}

body {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 10%;
  margin-right: 10%;
}


@media (min-width: 1200px) {
  h1 {
    font-size: 4vw;
    margin: 0px;
  }

  h2 {
    font-size: 2vw;
  }

  body {
    margin-left: 20%;
    margin-right: 20%;
  }
}

@media (max-width: 800px) {
  #header li a {
    margin-left: 0px;
    margin-right: 0px;
    width: 50px;
  }
}

@media (max-width: 600px) {
  #header li a {
    font-size: 1em;
  }

  body {
    margin: 0;
  }

  h1 {
    font-size: 10vw;
    margin: 5px;
  }

  h2 {
    font-size: 5vw;
  }

  #content {
    font-size: 14px;
  }
}

@media (max-width: 510px) {
  #header ul {
    flex-wrap: wrap;
    justify-content: center;
  }

  #header li a {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 5px;
    padding-right: 5px;
  }
}

#header li a:hover {
  box-shadow: 0px 0px 9px 1px #00FF2E, inset 0px -1px 0px 0px #00FF2E;
  text-shadow: 0px 1px 7px rgba(255,255,255,0.5);
  transform: scale(1.05)
}

#content a:hover {
  background-color: #009933;
  color: WhiteSmoke;
}