html {
  color: #222;
  font-size: 16px;
  line-height: 1.4;
  font-family: 'Ubuntu', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-thumb {
  background: #009933;
}

::-moz-selection {
  background: #009933;
  color: white;
}

::selection {
  background: #009933;
  color: white;
}

.center {
  text-align: center;
}

#main:before {
  -webkit-filter: blur(5px);
  moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

#main {
  background-color: WhiteSmoke;
  min-height: 100vh;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

#header {
  padding-top: 1%;
}

/* Header Bar */
#sitemap {
  padding:0;
  overflow: hidden;
  background-color: #1A5276;
  text-align: center;
  font-size: 1.1em;
  display: flex;
}

#header li {
  display: inline-block;
  margin: auto;
}

#header li a {
  display: block;
  padding: 20px;
  margin-left: 10px;
  margin-right: 10px;
  width: 60px;
  font-weight: bold;
  color: WhiteSmoke;
  text-decoration: none;
  transform: scale(0.98);
  transform-origin: 50% 50%;
  -webkit-transition: box-shadow .1s, transform .1s ease-in-out;
  -moz-transition: box-shadow .1s, transform .1s ease-in-out;
  -o-transition: box-shadow .1s, transform .1s ease-in-out;
  transition: box-shadow .1s, transform .1s ease-in-out;
}

#header li a:hover {
  box-shadow: 0px 0px 9px 1px #00FF2E, inset 0px -1px 0px 0px #00FF2E;
  text-shadow: 0px 1px 7px rgba(255,255,255,0.5);
  transform: scale(1.05);
  transform-origin: 50% 50%;
}

#content a:hover {
  background-color: #009933;
  color: WhiteSmoke;
}

#content {
  font-size: 1em;
  margin-left: 8%;
  margin-right: 8%;
  font-family: 'Noto Sans', sans-serif;
  overflow: visible;
  padding-bottom: 1%;
}

#content ul li:before {
  content: "> ";
  font-family: monospace;
}

#content ul {
  padding-left: 15px;
}

.taglabel {
  margin: 5px;
  padding: 5px;
  float: left;
}

.taglist {
  padding: 0;
  margin: 0;
  overflow: visible;
  font-size: 1.1em;
}

.tag {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  margin: 5px;
  padding: 5px;
  display: inline-block;
}

.tag:before {
  content: none !important;
}

.image-center {
  max-width: 100%;
  margin: 0;
}

.image-right {
  float: right;
  width: 40%;
  margin: 0px 0 20px 20px;
}

#content a {
  color: #009933;
  -webkit-transition: color, background-color .1s ease-in;
  -moz-transition: color, background-color .1s ease-in;
  -o-transition: color, background-color .1s ease-in;
  transition: color, background-color .1s ease-in;
}

#header h1 {
  margin: 0;
}

#header h2 {
  margin-top: 5px;
  margin-bottom: 5px;
}

#footer ul {
  display: flex;
  padding: 0;
}

#footer ul li:before {
  content: none;
}

#footer li {
  display: inline-block;
  margin: auto;
}

#footer {
  clear: both;
}

img {
  max-width:100%;
  max-height:100%;
  display: block;
  margin: 0 auto;
  padding: 0;
  box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.5);
}

figcaption {
  font-size: 0.8em;
  margin-top: 5px;
}

ul li {
  list-style-type: none;
}

pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  padding: 8px 8px 8px 8px;
}

p {
  margin-top: 10px;
  margin-bottom: 10px;
}

h3, h4, h5, h6 {
  margin-top: 25px;
  margin-bottom: 10px;
}

body {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 10%;
  margin-right: 10%;
}

hr {
  margin-top: 20px;
  clear: both;
}

@media (min-width: 2000px) {
  #header ul {
    font-size: 1.1vw;
  }

  #header li a {
    padding: 1vw;
    width: 4vw;
  }

  #content {
    font-size: 1vw;
  }
}

@media (min-width: 1200px) {
  #header h1 {
    font-size: 3vw;
    margin: 0px;
  }

  #header h2 {
    font-size: 1.6vw;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  body {
    margin-left: 20%;
    margin-right: 20%;
  }
}

@media (min-width: 800px) and (max-width: 1200px) {
  #header h1 {
    font-size: 5vw;
  }

  #header h2 {
    font-size: 2.5vw;
  }
}

@media (max-width: 800px) {

  #header h1 {
    font-size: 6vw;
  }

  #header h2 {
    font-size: 3vw;
  }

  #header li a {
    margin-left: 0px;
    margin-right: 0px;
    width: 50px;
  }

  #content {
    font-size: 0.95em;
  }
}

@media (max-width: 600px) {
  #header li a {
    font-size: 1em;
  }

  body {
    margin: 0;
  }

  #header h1 {
    font-size: 8vw;
  }

  #header h2 {
    font-size: 5vw;
  }

  #content {
    font-size: 0.9em;
  }
}

@media (max-width: 510px) {
  #header li a {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 5px;
    padding-right: 5px;
  }

  #sitemap {
    font-size: 1em;
  }
}

@media (max-width: 375px) {
  #header ul {
    flex-wrap: wrap;
    justify-content: center;
  }

  #header li a:hover {
    transform: none;
    box-shadow: none;
  }

  #header li a {
    transform: none;
  }

  #header li a {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
  }

  #sitemap {
    font-size: 0.9em;
  }

  #content {
    font-size: 0.8em;
  }

  #footer ul {
    display: inline-block;
    text-align: center;
  }
}
