{% extends "base.html" %}

{% block title %}{{ article.title }}{% endblock %}
{% block pagetitle %}{{ SITENAME }}{% endblock %}
{% block subtitle %}{{ article.title }}{% endblock %}

{% block content %}
	<ul class="taglist">
		{% for tag in article.tags %}
			<li class="tag"><a href="/blog/{{ article.category }}">{{ tag }}</a></li>
		{% endfor %}
		<li class="tag">{{ article.locale_date }}</li>
	</ul>
	<h2>{{ article.subtitle }}</h2>
	{{ article.content }}
{% endblock content %}

{% block footer %}
{% endblock footer %}


{% block main %}
  {{ super() }}
{% endblock main %}