{% extends "base.html" %}

{% block title %}{{ article.title }}{% endblock %}
{% block pagetitle %}{{ SITENAME }}{% endblock %}
{% block subtitle %}{{ article.title }}{% endblock %}

{% block content %}
	<ul class="taglist">
		{% for tag in article.tags %}
			<li class="tag"><a href="/blog/{{ article.category }}">{{ tag }}</a></li>
		{% endfor %}
		<li class="tag">{{ article.locale_date }}</li>
	</ul>
	<h2>{{ article.subtitle }}</h2>
	{{ article.content }}

	<br>

	<div id="disqus_thread"></div>
		<script>
		/**
		*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
		*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
		*/
		 var disqus_config = function () {
			this.page.url = window.location.href;  // Replace PAGE_URL with your page's canonical URL variable
			this.page.identifier = document.title; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
		 };
		(function() { // DON'T EDIT BELOW THIS LINE
		var d = document, s = d.createElement('script');
		s.src = 'https://seanmcglothlin.disqus.com/embed.js';
		s.setAttribute('data-timestamp', +new Date());
		(d.head || d.body).appendChild(s);
		})();
		</script>
	<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

{% endblock content %}

{% block footer %}
{% endblock footer %}


{% block main %}
  {{ super() }}
{% endblock main %}