<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %} {% endblock %}</title>
    <meta property="og:site_name" content="{{ SITENAME }}"/>
    <meta property="og:title" content="{{ SITENAME }}"/>
    <meta property="og:description" content="{{ SITESUBTITLE }}"/>
    <meta property="og:image" content="{{ SITEURL }}/theme/img/tile.png"/>
    <meta property="og:url" content="{{ SITEURL }}"/>
    <meta property="og:type" content="website"/>
    <meta name="theme-color" content="#1A5276">
    <meta name="msapplication-navbutton-color" content="#1A5276">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#1A5276">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/fonts.css">
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/main.css">
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/plaid.css">
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/syntax.css">
  </head>
  <body>
    <div id="overlay"></div>
    <div id="main">
      {% block main %}
        <div id="header">
          <h1 class="center">{% block pagetitle %}{% endblock %}</h1>
          <h2 class="center">{% block subtitle %}{% endblock %}</h2>
          <ul id="sitemap">
            {% for title, link in MENUITEMS %}
                <li><a href="{{ link }}">{{ title }}</a></li>
            {% endfor %}
          </ul>
        </div>
        <div id="content">
          {% block content %}{% endblock content %}
          {% block footer %}{% endblock footer %}
            <div id="footer">
            <hr>
            <ul>
              <li><a href="https://github.com/McGlothlin" target="_blank">GitHub</a></li>
              <li><a href="https://www.linkedin.com/in/smcglothlin" target="_blank">LinkedIn</a></li>
              <li><a href="https://stackoverflow.com/users/5472966/mcglothlin" target="_blank">Stack Overflow</a></li>
            </ul>
            <p class="center" style="font-size: 0.8em; margin-bottom: 0">Content licensed under <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/" target="_blank">CC BY-SA 4.0</a></p>
          </div>
        </div>
      {% endblock main %}
    </div>
    <script src="{{ SITEURL }}/theme/js/jquery-3.2.1.min.js"></script>
    <script src="{{ SITEURL }}/theme/js/main.js"></script>
  </body>
</html>