<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %} {% endblock %}</title>
    <meta property="og:site_name" content="{{ SITENAME }}"/>
    <meta property="og:title" content="{{ SITENAME }}"/>
    <meta property="og:description" content="{{ SITESUBTITLE }}"/>
    <meta property="og:image" content="{{ SITEURL }}/theme/img/tile.png"/>
    <meta property="og:url" content="{{ SITEURL }}"/>
    <meta property="og:type" content="website"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="img/apple-touch-icon.png">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans|Ubuntu" rel="stylesheet">
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/main.css">
  </head>
	<body>
	  <div id="main">
			{% block main %}
      <div id="header">
        <h1 class="center">{% block pagetitle %} {% endblock %}</h1>
        <h2 class="center">{% block subtitle %} {% endblock %}</h2>
        <ul class="sitemap">
          {% for title, link in MENUITEMS %}
              <li><a href="{{ link }}">{{ title }}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div id="content">
      {% block content %}{% endblock %}
      {% endblock main %}
      </div>
		</div>
  </body>
</html>