{% extends "base.html" %}

{% block title %}{{ SITENAME }}{% endblock %}
{% block pagetitle %}{{ SITENAME }}{% endblock %}
{% block subtitle %}{{ SITESUBTITLE }}{% endblock %}

{% block content %}
  <figure class="image-center">
    <img src="/images/wrx_db.jpg"/>
  </figure>
  <h2>Welcome!</h2>
  <p>
    I am a software developer working for the <a href="http://fa.oregonstate.edu/bic/core" target="_blank">CORE</a> team at Oregon State University. Our team develops and maintains a reporting application that provides business intellignce for staff and faculty across campus.
  </p>
  <p>
    I graduated from Oregon State University in 2015 with a Bachelors in Computer Science. Since then, I've had a taste of working all around the software stack. Some of my various projects have involved:
  </p>
  <ul>
    <li>Data analysis and dashboard design</li>
    <li>Front end web development</li>
    <li>Back end web development</li>
    <li>Linux and Solaris system administration</li>
  </ul>
  <p>
    My favorite of these is front end web development. Recently at work I have taken on the role of a user interface (UI) designer for our system and I'm very excited about that; it's the type of work I've been looking for since I graduated. My responsibilities are split pretty evenly between report writing (lots of SQL) and UI design (JavaScript and CSS). When I'm not at work, I'm probably playing the bass guitar or learning about cars.
  </p>
  <h3>Recent Articles</h3>
  <ul>
  {% for article in articles %}
    {% if loop.index < 10 %}
      <li><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></li>
    {% endif %}
  {% endfor %}
  </ul>
{% endblock content %}

{% block main %}
  {{ super() }}
{% endblock main %}
