{% extends "base.html" %}

{% block title %}{{ SITENAME }}{% endblock %}
{% block pagetitle %}{{ SITENAME }}{% endblock %}
{% block subtitle %}{{ SITESUBTITLE }}{% endblock %}

{% block content %}
  <figure class="image-center">
    <img src="/images/miata_sunrise.jpg">
  </figure>

  <h2>Welcome!</h2>
  <p style="margin-top: 5px">
    I am a software developer working for the <a href="http://fa.oregonstate.edu/bic" target="_blank">Business Intelligence Center</a> at Oregon State University. Our team created an application called <a href="http://fa.oregonstate.edu/bic/core" target="_blank">CORE</a> designed to meet reporting and analytical needs across campus. My responsibilities are split between data analytics and application development.
  </p>
  <p>
    I graduated from Oregon State University in 2015 with a Bachelors in Computer Science. Since then, I've had a taste of working all around the software stack. Some of my various projects have involved:
  </p>
  <ul>
    <li>Data analysis and dashboard design</li>
    <li>Front end web development</li>
    <li>Back end web development</li>
    <li>Linux and Solaris system administration</li>
  </ul>
  <p>
    When I'm not at work, I'm probably playing the bass guitar, learning about cars, or making improvements to this website. I started the site in June 2017 and there are still many things I'd like to add. If I'm honest I don't think I'll ever really be finished, so come back occasionally if you like what you see. Thanks for stopping by!
  </p>
  <h3>Recent Articles</h3>
  <ul>
  {% for article in articles %}
    {% if loop.index < 10 %}
      <li><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></li>
    {% endif %}
  {% endfor %}
  </ul>
{% endblock content %}

{% block main %}
  {{ super() }}
{% endblock main %}
