{% extends "base.html" %}

{% block title %}{{ SITENAME }}{% endblock %}
{% block pagetitle %}{{ SITENAME }}{% endblock %}
{% block subtitle %}{{ SITESUBTITLE }}{% endblock %}

{% block content %}
  <figure class="image-center">
    <img src="/images/miata_sunrise.jpg">
  </figure>

  <h2>Welcome!</h2>
  <p style="margin-top: 5px">
    I am a software developer working for the <a href="http://iar.oregonstate.edu" target="_blank">Institutional Analytics and Reporting</a> team at Oregon State University. My colleagues endearingly refer to me as the Swiss Army knife of the team.
  </p>
  <p>
    I provide data infrastructure support for my analyst colleagues, maintain a reporting application called <a href="http://iar.oregonstate.edu/bic/core" target="_blank">CORE</a>, and revolutionized our workflow by bringing Jira and Confluence to the team.
  </p>
  <p>
    We are currently architecting a cloud solution in AWS to increase the performance, security, and availability of our data infrastructure. When we realized no out-of-the box solution could be configured to accommodate the university's complex security model, I co-developed an internal data ingestion and <a href="https://www.snowflake.com" target="_blank">Snowflake</a> management tool we call Elsa.
  </p>
  <p>
    When I'm not at work you might find me working on cars or <a href="https://seanmcglothlin.com/blog/cars/intro-to-autocross">improving my skills as a driver</a>. I also find time to play the bass guitar and work on this site occasionally. I started the site in June 2017 and there are still many things I'd like to add. If I'm honest I don't think I'll ever really be finished, so come back every once in a while if you like what you see. Thanks for stopping by!
  </p>
  <h3>Recent Articles</h3>
  <ul>
  {% for article in articles %}
    {% if loop.index < 4 %}
      <li><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></li>
    {% endif %}
  {% endfor %}
  </ul>
{% endblock content %}

{% block main %}
  {{ super() }}
{% endblock main %}
