{% extends "base.html" %}

{% block title %}{{ page.title }}{% endblock %}
{% block pagetitle %}{{ page.title }}{% endblock %}
{% block subtitle %}{{ page.subtitle }}{% endblock %}
{% block content %}
	{{ page.content }}
	<ul>
	{% for article in articles if page.category == article.category %}
		<li><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a> - {{article.locale_date}}</li>
	{% endfor %}
	{% for article in articles|sort(attribute='title')  if page.category == 'all' %}
		<li><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></li>
	{% endfor %}
	</ul>
{% endblock %}

{% block main %}
  {{ super() }}
{% endblock main %}